<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentManagement" search:require="solr">
        <contentSearch>
            <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
                <indexes hint="list:AddIndex">
                    <index id="sitecore_related_content_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
                        <param desc="name">$(id)</param>
                        <param desc="core">$(id)</param>
                        <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
                        <configuration ref="contentSearch/indexConfigurations/relatedContentSolrIndexConfiguration" />

                        <strategies hint="list:AddStrategy">
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
                        </strategies>
                        <locations hint="list:AddCrawler">
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>master</Database>
                                <Root>/sitecore/content/Imdad</Root>
                            </crawler>
                        </locations>
                        <enableItemLanguageFallback>false</enableItemLanguageFallback>
                        <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
                    </index>
                </indexes>
            </configuration>


            <indexConfigurations>
                <relatedContentSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
                    <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">

                        <indexAllFields>false</indexAllFields>

                        <!-- Included fields -->
                        <!--<include hint="list:AddIncludedField">
                            --><!-- Media Image template --><!--
                            <Image>{A6696B3C-84B0-4165-B251-871062116B3B}</Image>
                            <Link>{9EFB5DAC-353D-4681-A9A3-D84F63C33236}</Link>
                            <YoutubeID>{66C00CAF-D32B-436C-9038-A8CD836527AF}</YoutubeID>
                            <AllowAnonymous>{731EBEA7-E530-4C98-BE48-9A2F5959D337}</AllowAnonymous>
                            --><!-- Title - Description template --><!--
                            <Title>{49BBFB5D-7B08-40F4-BC4F-1ED61A57A6B6}</Title>
                            <Description>{FD9AB3F7-7548-4338-A126-58C1BAFCAB50}</Description>
                            <Date>{A5225E82-3974-4607-8652-C24B3470FE6B}</Date>
                            --><!-- Tags --><!--
                            <ProductsTags>{21D53223-CC1B-4182-831A-527F5705D59D}</ProductsTags>
                            <CountryTags>{9911A76A-C59B-4B7F-819A-B4B3CCD991A9}</CountryTags>
                            --><!--<SubTreatmentTags>{FDEA6E58-2421-4A54-B15E-27F66347FC78}</SubTreatmentTags>--><!--
                            --><!--<TreatmentTag>{2F84D23E-337A-4F0F-B6C6-CCCE4752D130}</TreatmentTag>--><!--
                            <TreatmentTags>{A1F5E35B-5561-40C9-AAA2-ACA77573BEDF}</TreatmentTags>
                            <MediaTypeTag>{593A0318-F16D-471D-BCB3-72F76CB40982}</MediaTypeTag>
                            --><!-- Before-After --><!--
                            <BeforeImage>{8FE43535-83F4-40B0-A183-1A17ECFDF298}</BeforeImage>
                            <AfterImage>{B00A1A1C-494B-4422-B93E-F1ED2E15A9FE}</AfterImage>
                        </include>-->

                        <!-- Included templates -->
                        <include hint="list:AddIncludedTemplate">
                            <Article>{DFA6299F-86E5-45E3-A2FD-91DB981B74AA}</Article>
                            <News>{88B0538E-3BE7-4F62-A810-84F94ACE36B3}</News>
                            <Product>{B8C3024A-379D-4DB6-A837-127F175C98E0}</Product>
                        </include>

                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="vector"  returnType="doubleCollection">Hackathon.Boilerplate.Foundation.RelatedContentTagging.Indexing.Vector, Hackathon.Boilerplate.Foundation.RelatedContentTagging</field>
                        </fields>


                    </documentOptions>

                    <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                        <typeMatches hint="raw:AddTypeMatch">
                            <typeMatch type="System.Collections.Generic.List`1[System.Double]" typeName="doubleCollection" fieldNameFormat="{0}_dm" multiValued="true" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider"/>
                        </typeMatches>
                        
                        <fieldNames hint="raw:AddFieldByFieldName">
                            <fieldType fieldName="createdby" returnType="string" />
                            <fieldType fieldName="updatedby" returnType="string" />
                            <fieldType fieldName="revision" returnType="string" />
                            <fieldType fieldName="domainmatchrule" returnType="string" />
                        </fieldNames>
                    </fieldMap>

                    <fieldReaders ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldReaders" />
                    <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexFieldStorageValueFormatter" />
                    <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexDocumentPropertyMapper" />
                    <documentBuilderType ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentBuilderType" />

                </relatedContentSolrIndexConfiguration>
            </indexConfigurations>

        </contentSearch>
    </sitecore>
</configuration>