<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentManagement" search:require="solr">
        <contentSearch>
            <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
                <indexes hint="list:AddIndex">
                    <index id="sitecore_related_content_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
                        <param desc="name">$(id)</param>
                        <param desc="core">$(id)</param>
                        <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
                        <configuration ref="contentSearch/indexConfigurations/relatedContentSolrIndexConfiguration" />

                        <strategies hint="list:AddStrategy">
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
                        </strategies>
                        <locations hint="list:AddCrawler">
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>master</Database>
                                <Root>/sitecore/content/Home</Root>
                            </crawler>
                        </locations>
                        <enableItemLanguageFallback>false</enableItemLanguageFallback>
                        <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
                    </index>
                </indexes>
            </configuration>


            <indexConfigurations>
                <relatedContentSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
                    <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">

                        <indexAllFields>false</indexAllFields>

                        <!-- Included templates -->
                        <include hint="list:AddIncludedTemplate">
                            <Article>{DFA6299F-86E5-45E3-A2FD-91DB981B74AA}</Article>
                            <News>{88B0538E-3BE7-4F62-A810-84F94ACE36B3}</News>
                            <Product>{B8C3024A-379D-4DB6-A837-127F175C98E0}</Product>
                        </include>

                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="vector"  returnType="floatCollection">Semantic.Foundation.RelatedContentTagging.Indexing.Vector, Semantic.Foundation.RelatedContentTagging</field>
                        </fields>


                    </documentOptions>

                    <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                        <typeMatches hint="raw:AddTypeMatch">
                            <typeMatch type="System.Collections.Generic.List`1[System.Single]" typeName="floatCollection" fieldNameFormat="{0}_fs" multiValued="true" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider"/>
                        </typeMatches>
                        
                        <fieldNames hint="raw:AddFieldByFieldName">
                            <fieldType fieldName="vector" returnType="floatCollection" />
                        </fieldNames>
                    </fieldMap>

                    <fieldReaders ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldReaders" />
                    <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexFieldStorageValueFormatter" />
                    <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexDocumentPropertyMapper" />
                    <documentBuilderType ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentBuilderType" />

                </relatedContentSolrIndexConfiguration>
            </indexConfigurations>

        </contentSearch>
    </sitecore>
</configuration>