<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentManagement">

        <services>
            <register serviceType="Semantic.Foundation.RelatedContentTagging.Services.IRelatedItemContentTaggingProviderSetBuilder, Semantic.Foundation.RelatedContentTagging" implementationType="Semantic.Foundation.RelatedContentTagging.Services.RelatedItemContentTaggingProviderSetBuilder, Semantic.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Semantic.Foundation.RelatedContentTagging.Services.IRelatedItemContentTaggingConfigurationService, Semantic.Foundation.RelatedContentTagging" implementationType="Semantic.Foundation.RelatedContentTagging.Services.RelatedItemContentTaggingConfigurationService, Semantic.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Semantic.Foundation.RelatedContentTagging.Services.IRelatedContentTaggingRunner, Semantic.Foundation.RelatedContentTagging" implementationType="Semantic.Foundation.RelatedContentTagging.Services.RelatedContentTaggingRunner, Semantic.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Semantic.Foundation.RelatedContentTagging.Providers.IRelatedItemsDiscoveryProvider, Semantic.Foundation.RelatedContentTagging" implementationType="Semantic.Foundation.RelatedContentTagging.Providers.RelatedItemsDiscoveryProvider, Semantic.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Semantic.Foundation.RelatedContentTagging.Providers.IRelatedContentTaggingProviderFactory, Semantic.Foundation.RelatedContentTagging" implementationType="Semantic.Foundation.RelatedContentTagging.Providers.RelatedContentTaggingProviderFactory, Semantic.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Semantic.Foundation.RelatedContentTagging.Providers.IButtonStateProvider, Semantic.Foundation.RelatedContentTagging" implementationType="Semantic.Foundation.RelatedContentTagging.Providers.ButtonStateProvider, Semantic.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Semantic.Foundation.RelatedContentTagging.Services.IRelatedContentTaggingProvidersConfigurationService, Semantic.Foundation.RelatedContentTagging" implementationType="Semantic.Foundation.RelatedContentTagging.Services.RelatedContentTaggingProvidersConfigurationService, Semantic.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Semantic.Foundation.RelatedContentTagging.Services.ML.ISemanticService, Semantic.Foundation.RelatedContentTagging" implementationType="Semantic.Foundation.RelatedContentTagging.Services.ML.SemanticService, Semantic.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Semantic.Foundation.RelatedContentTagging.Searcher.IRelatedContentSearcher, Semantic.Foundation.RelatedContentTagging" implementationType="Semantic.Foundation.RelatedContentTagging.Searcher.RelatedContentSearcher, Semantic.Foundation.RelatedContentTagging" lifetime="Singleton"/>

        </services>
        <settings>
            <setting name="RelatedContentTagging.DefaultConfigurationName" value="Default" />
            <!-- Vectorized dataset -->
            <setting name="SemanticDatasetFilePath" value="App_Data\GoogleNews.bin" />
            <!-- Sitecore index name -->
            <setting name="RelatedContentIndexName" value="sitecore_related_content_index"/>
        </settings>
        <commands>
            <command name="item:relatedcontent" type="Semantic.Foundation.RelatedContentTagging.Commands.RelatedContentCommand, Semantic.Foundation.RelatedContentTagging"/>
        </commands>

        <pipelines>
            <group name="RealtedContentTagging" groupName="RealtedContentTagging">
                <pipelines>
                    <getRelatedTaggingConfiguration>
                        <processor type="Semantic.Foundation.RelatedContentTagging.Pipelines.GetDefaultConfigurationName, Semantic.Foundation.RelatedContentTagging" resolve="true" />
                        <processor type="Semantic.Foundation.RelatedContentTagging.Pipelines.BuildConfiguration, Semantic.Foundation.RelatedContentTagging" resolve="true" />
                    </getRelatedTaggingConfiguration>
                    <tagContent>
                        <processor type="Semantic.Foundation.RelatedContentTagging.Pipelines.TagContent.GetRelatedItems, Semantic.Foundation.RelatedContentTagging" resolve="true" />
                        <processor type="Semantic.Foundation.RelatedContentTagging.Pipelines.TagContent.ApplyTags, Semantic.Foundation.RelatedContentTagging" resolve="true" />
                    </tagContent>
                    <getContent>
                        <!-- Extract text content from item itself -->
                        <processor type="Semantic.Foundation.RelatedContentTagging.Pipelines.TagContent.RetrieveContent, Semantic.Foundation.RelatedContentTagging" resolve="true" />
                        <!-- Extract text content from all datasource items that are used in item presentations, remove it if you don`t need -->
                        <processor type="Semantic.Foundation.RelatedContentTagging.Pipelines.TagContent.RetrieveContentFromDatasourceItems, Semantic.Foundation.RelatedContentTagging" resolve="true" />
                        <processor type="Semantic.Foundation.RelatedContentTagging.Pipelines.TagContent.Normalize, Semantic.Foundation.RelatedContentTagging" resolve="true" />
                        <processor type="Semantic.Foundation.RelatedContentTagging.Pipelines.TagContent.Vectorize, Semantic.Foundation.RelatedContentTagging" resolve="true" />
                    </getContent>
                    <normalizeContent>
                        <processor type="Semantic.Foundation.RelatedContentTagging.Pipelines.NormalizeContent.StripHtml, Semantic.Foundation.RelatedContentTagging" resolve="true"/>
                        <processor type="Semantic.Foundation.RelatedContentTagging.Pipelines.NormalizeContent.RemoveStopWords, Semantic.Foundation.RelatedContentTagging" resolve="true"/>
                    </normalizeContent>
                </pipelines>
            </group>
        </pipelines>

        <relatedContentTagging>

            <configurations>
                <config name="Default">
                    <content>
                        <provider name="DefaultContentProvider"/>
                    </content>
                    <tagger>
                        <provider name="DefaultTagger"/>
                    </tagger>
                    <discovery>
                        <provider name="DefaultDiscoveryProvider"/>
                    </discovery>
                </config>
            </configurations>

            <providers>
                <content>
                    <add name="DefaultContentProvider" type="Sitecore.ContentTagging.Core.Providers.DefaultContentProvider, Sitecore.ContentTagging.Core" />
                </content>
                <discovery>
                    <add name="DefaultDiscoveryProvider" type="Semantic.Foundation.RelatedContentTagging.Providers.RelatedItemsDiscoveryProvider, Semantic.Foundation.RelatedContentTagging" />
                </discovery>
                <tagger>
                    <add name="DefaultTagger" type="Semantic.Foundation.RelatedContentTagging.Providers.RelatedItemsTagger, Semantic.Foundation.RelatedContentTagging" />
                </tagger>
            </providers>
            <fieldMap>
                <!--
        FieldTypes
          Specifies list of fields type names allowed to be used in tagging process.
        -->
                <fieldTypes>
                    <fieldType fieldTypeName="Multi-Line Text"/>
                    <fieldType fieldTypeName="Rich Text"/>
                </fieldTypes>
                <!--
        FieldNames
          Specifies list of fields names allowed to be used in tagging process.
        -->
                <fieldNames>
                    <field fieldName="Title"/>
                </fieldNames>
            </fieldMap>
        </relatedContentTagging>

    </sitecore>
</configuration>