<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>

        <services>
            <register serviceType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Services.IRelatedItemContentTaggingProviderSetBuilder, Hackathon.Boilerplate.Foundation.RelatedContentTagging" implementationType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Services.RelatedItemContentTaggingProviderSetBuilder, Hackathon.Boilerplate.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Services.IRelatedItemContentTaggingConfigurationService, Hackathon.Boilerplate.Foundation.RelatedContentTagging" implementationType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Services.RelatedItemContentTaggingConfigurationService, Hackathon.Boilerplate.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Services.IRelatedContentTaggingRunner, Hackathon.Boilerplate.Foundation.RelatedContentTagging" implementationType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Services.RelatedContentTaggingRunner, Hackathon.Boilerplate.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Providers.IRelatedItemsDiscoveryProvider, Hackathon.Boilerplate.Foundation.RelatedContentTagging" implementationType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Providers.RelatedItemsDiscoveryProvider, Hackathon.Boilerplate.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Providers.IRelatedContentTaggingProviderFactory, Hackathon.Boilerplate.Foundation.RelatedContentTagging" implementationType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Providers.RelatedContentTaggingProviderFactory, Hackathon.Boilerplate.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Services.IRelatedContentTaggingProvidersConfigurationService, Hackathon.Boilerplate.Foundation.RelatedContentTagging" implementationType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Services.RelatedContentTaggingProvidersConfigurationService, Hackathon.Boilerplate.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Services.ML.ISemanticService, Hackathon.Boilerplate.Foundation.RelatedContentTagging" implementationType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Services.ML.SemanticService, Hackathon.Boilerplate.Foundation.RelatedContentTagging" lifetime="Singleton"/>
            <register serviceType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Searcher.IRelatedContentSearcher, Hackathon.Boilerplate.Foundation.RelatedContentTagging" implementationType="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Searcher.RelatedContentSearcher, Hackathon.Boilerplate.Foundation.RelatedContentTagging" lifetime="Singleton"/>

        </services>
        <settings>
            <setting name="RelatedContentTagging.DefaultConfigurationName" value="Default" />
            <setting name="SemanticDatasetFilePath" value="App_Data\GoogleNews.bin" />
            <setting name="RelatedContentIndexName" value="sitecore_related_content_index"/>
        </settings>
        <commands>
            <command name="item:relatedcontent" type="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Commands.RelatedContentCommand, Hackathon.Boilerplate.Foundation.RelatedContentTagging"/>
        </commands>

        <pipelines>
            <group name="RealtedContentTagging" groupName="RealtedContentTagging">
                <pipelines>
                    <getRelatedTaggingConfiguration>
                        <processor type="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Pipelines.GetDefaultConfigurationName, Hackathon.Boilerplate.Foundation.RelatedContentTagging" resolve="true" />
                        <processor type="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Pipelines.BuildConfiguration, Hackathon.Boilerplate.Foundation.RelatedContentTagging" resolve="true" />
                    </getRelatedTaggingConfiguration>
                    <tagContent>
                        <processor type="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Pipelines.TagContent.GetRelatedItems, Hackathon.Boilerplate.Foundation.RelatedContentTagging" resolve="true" />
                        <processor type="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Pipelines.TagContent.ApplyTags, Hackathon.Boilerplate.Foundation.RelatedContentTagging" resolve="true" />
                    </tagContent>
                    <getContent>
                        <processor type="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Pipelines.TagContent.RetrieveContent, Hackathon.Boilerplate.Foundation.RelatedContentTagging" resolve="true" />
                        <processor type="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Pipelines.TagContent.Normalize, Hackathon.Boilerplate.Foundation.RelatedContentTagging" resolve="true" />
                        <processor type="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Pipelines.TagContent.Vectorize, Hackathon.Boilerplate.Foundation.RelatedContentTagging" resolve="true" />
                    </getContent>    
            
                </pipelines>
            </group>
        </pipelines>

        <relatedContentTagging>
            
            <configurations>
                <config name="Default">
                    <content>
                        <provider name="DefaultContentProvider"/>
                    </content>
                    <tagger>
                        <provider name="DefaultTagger"/>
                    </tagger>
                    <discovery>
                        <provider name="DefaultDiscoveryProvider"/>
                    </discovery>
                </config>
            </configurations>
            
            <providers>
                <content>
                    <add name="DefaultContentProvider" type="Sitecore.ContentTagging.Core.Providers.DefaultContentProvider, Sitecore.ContentTagging.Core" />
                </content>
                <discovery>
                    <add name="DefaultDiscoveryProvider" type="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Providers.RelatedItemsDiscoveryProvider, Hackathon.Boilerplate.Foundation.RelatedContentTagging" />
                </discovery>
                <tagger>
                    <add name="DefaultTagger" type="Hackathon.Boilerplate.Foundation.RelatedContentTagging.Providers.RelatedItemsTagger, Hackathon.Boilerplate.Foundation.RelatedContentTagging" />
                </tagger>
            </providers>
            <fieldMap>
                <!--
        FieldTypes
          Specifies list of fields type names allowed to be used in tagging process.
        -->
                <fieldTypes>
                    <fieldType fieldTypeName="Multi-Line Text"/>
                    <fieldType fieldTypeName="Rich Text"/>
                </fieldTypes>
                <!--
        FieldNames
          Specifies list of fields names allowed to be used in tagging process.
        -->
                <fieldNames>
                    <field fieldName="Title"/>
                </fieldNames>
            </fieldMap>
        </relatedContentTagging>

    </sitecore>
</configuration>